.header {
  background-color: rgb(148, 173, 96);
  height: 10rem;
  display: flex;
  gap: 8rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}

.headerNameAndNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.links {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

.header h1 {
  color: black;
}

.image {
  height: 4rem;
  width: 5rem;
}
