.questionCard {
  background-color: rgb(148, 173, 96);
  padding: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  min-width: 22rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answerContainer {
  padding: 1rem;
  background-color: rgb(161, 159, 159);
  border: 2px solid white;
  border-radius: 10px;
}

.singleAnswer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-bottom: 2px solid white;
}

.likesWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.postedAndLikesWrapper {
  display: flex;
  gap: 2rem;
}

.posted {
  display: flex;
  flex-direction: column;
}

.answerBottomContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textAreaWrapper {
  background-color: rgb(148, 173, 96);
  border-radius: 10px;
  border: 2px solid white;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.textArea {
  min-height: 6rem;
  min-width: 22rem;
}

.deleteMessage {
  color: red;
  font-weight: bold;
}
